:root {
    --temp-title-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background: url("assets/wall.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.weather-details-holder {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.weather-details-main-info {
    /*border: 1px solid black;*/
    padding: 15px;
    color: white;
    font-size: 2.5rem;
}

.weather-details-secondary-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px solid black;*/
    padding: 15px;
    color: white;
    font-size: 2.5rem;
}

.weather-list {
    display: grid;
    width: 70%;
    margin-bottom: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    grid-column-gap: 5px;
    /*align-items: center;*/
    padding: 0 30px;
    align-self: center;
}

.weather-item {
    padding: 15px;
    /*border: 1px solid black;*/
    transition: all, 0.3s;
    color: white;
}

.active {
    box-shadow: 0 0 18px 9px rgba(34, 60, 80, 0.3);
    cursor: pointer;
}

.weather-item-temp {
    font-size: var(--temp-title-size);
}

.weather-item-feels-like {
    /*animation: show-feels-like 1s forwards;*/
}


.weather-item:hover {
    box-shadow: 0 0 18px 9px rgba(34, 60, 80, 0.3);
    cursor: pointer;
}

.dashboard-icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

input {
    margin-top: 40px;
    padding: 15px;
    font-size: 1.5em;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    align-self: flex-start;
}

@keyframes show-feels-like {
    0% {
        opacity: 0;
        transform: translateY(75px);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}